<!DOCTYPE html>
<html lang="en">
  <%- include header.ejs %>
<body>
  <!--<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>-->

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Project Bridges</h1>
        <div class="row center">
          <h5 class="header col s12 light">Detecte riscos nas estruturas de pontes fácil e rápido</h5>
        </div>
        <div class="row center">
          <a href="account/login/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Começar</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Acesso rápido</h5>
            <p class="light">Em poucos cliques você estará no seu painel de controle fazendo o monitoramento em tempo real de suas pontes.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Equipe</h5>
            <p class="light">Você pode registrar vários membros para sua equipe para observar o monitoramento das pontes e gerar relatórios.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Fácil de utilizar</h5>
            <p class="light">Nós fizemos um sistema bastante intuitivo e fácil de se trabalhar. Desta forma também é fácil ensinar outros empregados a utilizarem a ferramenta.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Um sistema moderno e inovador</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Entre em contato conosco</h4>
          <p class="left-align light">
			<div class="input-field col s12">
				<input id="nome" type="text" class="validate">
				<label for="nome">Nome</label>
			</div>
			<div class="input-field col s12">
				<input id="email" type="email" class="validate">
				<label for="email">Email</label>
			</div>
			<div class="input-field col s12">
				<textarea id="text" class="materialize-textarea"></textarea>
				<label for="text">Comentários</label>
			</div>
			<div class="row right">
				<a href="sendEmail" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Enviar</a>
			</div>
		  </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Faça sua conta e comece já!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sobre a empresa.</h5>
          <p class="grey-text text-lighten-4">Nós somos uma equipe de estudantes trabalhando neste projeto como se fosse nosso trabalho principal. Qualquer tipo de doação vai nos ajudar a continuar desenvolvendo esse projeto e será muito apreciado.</p>


        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Redes Sociais</h5>
          <ul>
            <li><a class="white-text" href="#!">LinkedIn</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Youtube</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014-2015 Fernando Melo e Fernando Messias, All rights reserved.
      </div>
    </div>
  </footer>


  
  </body>
</html>
