<div id="modal-input" class="modal">
	<div class="modal-content">
		<h4>Modal Header</h4>
		<div class="input-field col s12">
          <input placeholder="Digite o valor" type="text" class="validate">
        </div>
	</div>
	<div class="modal-footer">
		<a href="#!" id="confirmar" class="modal-action modal-close waves-effect waves-green btn-flat ">Confirmar</a>
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
	</div>
</div>

<div id="modal-erro" class="modal">
	<div class="modal-content">
		<p></p>
	</div>
	<div class="modal-footer">
		<a href="#!" onclick="$('#modal-erro').closeModal(); return false;" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
	</div>
</div>